html,
body {
  height: 100%;
}

body {
  display: flex;
  padding-top: 70px;
  padding-bottom: 10px;
}

.form-signin {
  width: 100%;
  max-width: 400px;
  padding: 15px;
  margin: auto;
}

.form-signin .form-floating:focus-within {
  z-index: 2;
}

.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.dot {
  height: 5px;
  width: 5px;
  background-color: black;
  border-radius: 50%;
  display: inline-block;
}

.yellowdot {
  height: 15px;
  width: 15px;
  background-color: yellow;
  border-radius: 50%;
  display: inline-block;
}

.whitedot {
  height: 15px;
  width: 15px;
  background-color: white;
  border-radius: 50%;
  display: inline-block;
}

.reddot {
  height: 5px;
  width: 5px;
  background-color: red;
  border-radius: 50%;
  padding: 5px;
  display: inline-block;
}

.scoreinput {
  border: none;
  outline: none;
  width: 28px;
  text-align: center;
}

.thick {
  font-weight: bold;
}

th, td {
  border: thin solid lightgrey;
  border-collapse: collapse;
  padding: 2px;
  text-align: center;
}

.parrow {
  border: thin solid lightgrey;
  border-collapse: collapse;
  vertical-align: text-top;
}

.vertcenter {
  vertical-align: middle;
}

.leftrow {
  border: thin solid lightgrey;
  border-collapse: collapse;
  text-align: left;
}

.centerrow {
  border: thin solid lightgrey;
  border-collapse: collapse;
  text-align: center;
}

.scorecell {
  background-color: lightblue;
}

.scoretable {
  border: thin solid lightgrey;
  border-collapse: collapse;
  table-layout: fixed;
}

.scoretablefirstcol {
  width: 45px;
}

.scoretablecol {
  width: 31px;
}

.acctable {
  table-layout: fixed;
}

.acctablecolname {
  width: 250px;
  text-align: left;
}

.acctablecolscore {
  width: 100px;
  text-align: right;
}

.flighttable {
  table-layout: fixed;
  padding: 10px;
  border: thin solid lightgrey;
  border-collapse: collapse;
}

.flighttablecol {
  width: 100px;
}

.flightscoreinput {
  border: thin solid lightgrey;
  outline: none;
  width: 60px;
  text-align: center;
  font-size: 1.1em;
}

.scoremodal {
  position: relative;
  display: table; /* This is important */ 
  overflow-y: auto;    
  overflow-x: auto;
  width: auto;
  min-width: 400px; 
}